.DS_Store
.DS_Store
.Rproj.user
.DS_Store
.Rhistory
.Renviron
apps/job_scout_chat/api_key.txt
.DS_Store
/apps/job_scout_chat/shiny_bookmarks
/apps/job_scout_chat/.shinychat
apps/job_scout_chat/data/scout.db-shm
apps/job_scout_chat/data/scout.db-wal
apps/job_scout_chat/Dockerfile
